body{
    margin: 0px;
    padding: 0%;
}
.img_bg{
    
    background-image:url('https://encrypted-tbn1.gstatic.com/images?q=tbn:ANd9GcR3iCcTUjgXDk4FMwpIFt6-eKhW37siPIdot-pLMzviCPcP-6ER');
    background-repeat: no-repeat;
    background-size: cover;
    height: 800px;
    display: flex;
}
a:link, a:visited {
    color: white;
    padding: 14px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
  }